@using SportsStore.WebUI.HtmlHelpers
@model SportsStore.WebUI.Models.ProductsListViewModel

<!--
CC DISPLAYING A LIST OF PRODUCTS
    RENDERING DATA THE VIEW DATA
        Listing 7-9. Editing the List.cshtml file

EE ADDING PAGINATION
    Listing 7-22. Updating the list List.cshtml file

    DISPLAYING THE PAGE LINKS
        Listing 7-23. Calling the HTML helper method in the List.cshtml file
-->

@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
    <div>
        <h3>@p.Name</h3>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>