@model Razor.Models.Product

@{

    /*
    >> WORKINK WITH LAYOUTS -> 99
    >>>> DEMONSTRATING SHARED LAYOUTS -> 103
    >>>>>>>> Listing 5-11. The contents of the NameAndPrice.cshtml file -> 105
    >>>>>>>> Listing 5-12. Adding to the NameAndPrice.cshtml file -> 106
    */

    ViewBag.Title = "NameAndPrice";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>NameAndPrice</h2>
The product name is @Model.Name and it costs $@Model.Price
