<!DOCTYPE html>

<html lang="en">
<head>
    <!--
    CC DISPLAYING A LIST OF PRODUCTS
        ADDING THE LAYOUT, VIEW START FILE AND VIEW
            Listing 7-8. Editing the _Layout.cshtml file
     -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>