@model decimal

@{
    /*
    AA PREPEARING THE EXAMPLE PROJECT -> 120
    AACC ADDING THE VIEW -> 122
    >> Listing 6-5. The contents of the index.cshtml file -> 122    
    */
    
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Value</title>
    </head>
    <body>
        <div>
            Total value is $@Model
        </div>
    </body>
</html>