@{
    /*
    SUBMITTING ORDERS
        DISPLAYING A SUMMARY PAGE
            Listing 9-22. The Contents of the Completed.cshtml File
    */

    ViewBag.Title = "SportsStore: Order Submitted";
}

<h2>Thanks!</h2>
Thanks for placing your order. We'll ship your goods as soon as possible.