/*
Chapter 14: Overview of MVC Projects
    # Debugging MVC Applications
        ## Preparing the Example Project
            ### Creating the View
                Listing 14-3. Adding a Style to the /Content/Site.css File.
*/

body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}