<!DOCTYPE html>

@model Razor.Models.Product

@{    
	Layout = null;
}

<!--
>> PREPARING THE EXAMPLE PROJECT -> 95
>>>> DEFINING THE MODEL -> 95
>>>>>>>> Listing 5-3. The contents of the Index.cshtml file -> 97
-->

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Index</title>
    </head>

    <body>
    
    </body>
</html>