@{
    /*
    >> WORKINK WITH LAYOUTS -> 99
    >>>> CREATING THE LAYOUT -> 100
    >>>>>>>> Listing 5-5. The initial contents of the _BasicLayout.cshtml file -> 101
    */
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
