@{
    Layout = null;

    /*  # Chapter 16: Advanced routing features
        ## Generating outgoing URLs in Views

        ### Using the routing system to generate an outgoing URL
        #### Listing 16-2. Using the Html.ActionLink helper method in the ActionName.cshtml file

        ### Targeting other controllers
        #### Listing 16-4. Targeting a different controller in the ActionName.cshtml file
        #### Listing 16-5. Targeting an action decorated with the Route Attribute in the ActionName.cshtml file  

        ### Passing extra values
        #### Listing 16-6. Supplying for segment variables in the ActionName.cshtml file  

        ### Specifying HTML attributes
        #### Listing 16-8. Generation an anchor element with attributes in the ActionName.cshtml file  

        ### Generating fully qualified URLs in links
        #### Listing 16-9. Generating a fully qualified url in the ActionName.cshtml file

        ### Generating URLs (and not links)
        #### Listing 16-10. Generating a URL without the surrounding HTML in the ActionName.cshtml file
    */
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActionName</title>
</head>
<body>
    <div>The controller is: @ViewBag.Controller</div>
    <div>The action is: @ViewBag.Action</div>

    <div>
        This is a URL:
        @Url.Action(
            "Index", "Home",
            new { id = "MyId" }
        )
    </div>
</body>
</html>