@{
    Layout = null;

    /*
    # Chapter 16: Advanced routing features
    ## Generating outgoing URLs in Views
    ### Using the routing system to generate an outgoing URL
    #### Listing 16-2. Using the Html.ActionLink helper method in the ActionName.cshtml file
    */
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActionName</title>
</head>
<body>
    <div>The controller is: @ViewBag.Controller</div>
    <div>The action is: @ViewBag.Action</div>

    <div>
        @Html.ActionLink("This is an outgoing URL", "CustomVariable")
    </div>
</body>
</html>