@model Razor.Models.Product

@{
    /*
    >> USING RAZOR EXPRESSIONS -> 107
    >>>> INSERTING DATA VALUES -> 107
    >>>>>>>> Listing 5-16. Using a conditional Razor statement in the DemoExpression.cshtml -> 110    
    */

    ViewBag.Tittle = "DemoExpression";
    Layout = "~/View/_BasicLayout.cshtml";
}

<table>
    <thead>
        <tr><th>Property</th><th>Value</th></tr>
    </thead>
    <Tbody>
        <tr><td>Name</td><td>@Model.Name</td></tr>
        <tr><td>Price</td><td>@Model.Price</td></tr>

        <tr>
            <td>Stock Level</td>
            <td>
                @switch((int)ViewBag.ProductCount)
                {
                    case 1: 
                        @: Out of Stock
                        break;
                    case 2: 
                        <b>Low Stock (@ViewBag.ProductCount)</b>
                        break;
                    default: 
                        @ViewBag.ProductCount
                        break;
                }
            </td>
        </tr>
    </Tbody>
</table>
