@model Razor.Models.Prouct

@{
    /*
    >> WORKINK WITH LAYOUTS -> 99
    >>>> DEMONSTRATING SHARED LAYOUTS -> 103
    >>>>>>>> Listing 5-11. The contents of the NameAndPrice.cshtml file -> 105    
    */

    ViewBag.Title = "NameAndPrice";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>NameAndPrice</h2>
The produc name is @Model.Name and it cost $@Model.Price