@model String

@{
    Layout = null;
}

<!DOCTYPE html>

<!--
>> PREPARING THE EXAMPLE PROJECT
>>>> Listing 4-2. The contents of the Result.cshtml file (Page 68)
-->

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <div>@Model</div>
</body>
</html>