<!DOCTYPE html>

<!--
>> WORKINK WITH LAYOUTS -> 99
>>>> CREATING THE LAYOUT -> 100
>>>>>>>> Listing 5-6. Adding elements to the _BasicLayout.cshtml file -> 101
-->

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title</title>
    </head>

    <body>
        <h1>Product Information</h1>
        <div style="padding: 20px; border: solid medium black; font-size: 2-pt">
            @RenderBody
        </div>
        <h2> Visit <a href="http://apress.com">Apress</h2>
    </body>
</html>