@{
    Layout = null;

    /*
    # Chapter 15: URL Routing
        ## Preparing the example project
            ### Creating the View
                Listing 15-4. The contents of the ActionName.cshtml file
    */
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActionName</title>
</head>
<body>
    <div>The controller is: @ViewBag.Controller</div>
    <div>The action is: @ViewBag.Action</div>
</body>
</html>