@model Razor.Models.Product[]

@{
    /*
    >> USING RAZOR EXPRESSIONS -> 107
    >>>> INSERTING DATA VALUES -> 107
    >>>>>>>> Listing 5-19. The contents of the DemoArray.cshtml file -> 116    
    */
    ViewBag.Title = "DemoArray";
    Layout = "~/Views/_BasicLayout.cshtml";
}

@if (Model.Length > 0)
{
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
           @foreach(Razor.Model.Product p in Model)
           {
               <tr>
                   <td>@p.Name</td>
                   <td>$@p.Price</td>
               </tr>
           }
        </tbody>
    </table>
}
else
{
    <h2>No product data</h2>
}